---
import translations from "@utils/t.ts";
import Layout from "@layouts/Layout.astro";
import Container from "@src/components/Container.astro";

const t = translations(Astro.url);
---

<Layout title="About Me" description="Lorem ipsum dolor sit amet">
	<Container class="pt-16">
		<p>このサイトについて</p>
		<p>ROG（ログ）</p>
		<p>日記と本棚のサイト</p>
		<p>日々のこと、買ったもののこと、出かけたところ、街のことや昔のことなど
			経験にもとづいた備忘録として書いていきます。</p>
		<hr>
		<div>わたしについて</div>
		<p>rm</p>
		<p>1992年 青森県八戸市生まれ</p>
		<p>2015年より東京都在住</p>
	</Container>
</Layout>
