---
import translations from "@utils/t.ts";
import Layout from "@layouts/Layout.astro";
import Container from "@src/components/Container.astro";

const t = translations(Astro.url);
---

<Layout title="Books" description="Lorem ipsum dolor sit amet">
	<Container class="pt-16">
		<h1>Books</h1>
		<p>今読んでいる本</p>
		<div id="literal-widget" handle="riemats" status="IS_READING" layout="list"></div>
<script src="https://literal.club/js/widget.js"></script>
	</Container>
</Layout>
